.logo-img img{
    height:60px;
}
.buy-now-button{
    background:#a4bc46;
}
.buy-now-button{
    color:white;
    font-size: 15px;
}
.header-img img{
    border:none;
}
.jacket-box{
    border:none;
    border-radius: 10px;
}
.jacet-img{
    background:#f3ebeb;
    border-radius: 14px;
}
.footer-button{
    background:none;
    border:none
}
.white-black-img{
    height: 80px;

}
.box-modil{
    border-radius: 15px;
}.contact-form{
    background:#dadada;
}